<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MathWorks</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
	<h1><a href="/">Index</a></h1>
    <div>
        
                {{{body}}}
        
    </div>

</body>

</html>