<script src="{{script}}"></script>
<a href="/users">Get All Users as JSON String</a><br>
<a href="#user" onclick="showUserForm()">Get a user by Username</a><br>
<a href="#add" onclick="showAddForm()">Add a new User</a><br>
<a href="#delete" onclick="showDeleteForm()">Delete</a><br>

<div id="user" style="visibility: hidden;">
    <h3>Get a user by username</h3>
    <form id="getUserForm" name="getUserForm" onsubmit="getUserFormSubmit()">
        <input id="userInput" type="text" placeholder="Enter the user name"/>
        <input type="submit" >
    </form>
</div>

<div id="add" style="visibility: hidden;">
    <h3>Add a new user</h3>
    <form id="myForm" name="myForm" onsubmit="setFormAction()" method="POST">
        <label>Username: <input type="text" name="username" id="usernameInput"/></label>
        <br>
        <label>Display Name: <input type="text" name="displayName" id="displaynameInput"/></label>
        <br>
        <label>Department: <input type="text" id="departmentInput" name="department" /></label>
        <br>
        <input type="submit" name="submit" />
    </form>
</div>

<div id="delete" style="visibility: hidden;">
    <h3>Delete a user</h3>
    <form id="deleteForm" name="deleteForm" onsubmit="deleteUserFormSubmit(event)">
        <input id="deleteUserInput" type="text" name="username" placeholder="Enter the user name"/>
        <input type="submit" name="submit"/>
    </form>
</div>
<div id="status" style="color: red"></div>

